<footer id="footer">
    <p>Copyright &copy; <span class="date">2013</span>. All rights reseved <a href="./">Asean Tourist</a></p>
    <ul id="social">
        <li class="rs"><a rel="external" href="./">RSS</a></li>
        <li class="tw"><a rel="external" href="./">Twitter</a></li>
        <li class="fl"><a rel="external" href="./">Flickr</a></li>
        <li class="fb"><a rel="external" href="./">Facebook</a></li>
    </ul>
</footer>