<h2 class="header-a">Hot deal of the week</h2>
<div class="double-b">
    <figure class="image-a"><a href="./"><img src="~/Content/temp/465x201.gif" alt="Placeholder" width="465" height="201"> <span class="icon-a">-%25</span></a> <figcaption>Paris Eurostar Breaks <span>Curabitur fringilla mauris interdum nec magna</span> <span>From $350</span></figcaption></figure>
    <figure class="image-d"><a href="./"><img src="~/Content/temp/465x201(1).gif" alt="Placeholder" width="465" height="201"> <span class="icon-b">Gift</span></a> <figcaption><span>Travel to hongkong</span> urabitur fringilla mauris interdum nec magna tur fringilla mauris interdum nec magna tur fringilla mauris interdum log nec magna</figcaption></figure>
</div>